.container{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem 0;
}

.entry{
    position: relative;
    width: 100%;
    background: green;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.dateTime{
    position: relative;
    margin: 0.5rem;
}

.info{
    position: relative;
    flex-grow: 1;
}

.map{
    position: relative;
    margin: 0.5rem;
    background: red;
}