.nav{
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: 3rem;
    font-family:Arial, Helvetica, sans-serif;
}

.nav2{
    transition: ease-in;
    position: absolute;
    top: 0rem;
    width: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 99;
}

@media only screen and (max-aspect-ratio: 13/9){
    .nav{
        display: none;
    }
}

.linkContainer{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.surLinkContainer{
    position: relative;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.surLinkContainer:hover{
    cursor: pointer;
}

.subLinkContainer{
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: transparent;
    background-attachment: fixed;
    z-index: -1;
    
}

.buffer{
    position: relative;
    width: 100%;
    height: 3rem;
    
}

.content{
   position: relative;
    width: 100%;
  box-shadow: 0px 5px 5px -3px black;
  z-index: -1;
}

.items{
    margin: 3rem 0 0 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.link{
    color: white;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.homeLink {
    margin: 1rem 0 1rem 0;
    background-image: url("/pch-logo180.png");
    background-size: contain;
    height: 80%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
}

.sublink {
    position: relative;
    color: white;
    font-size: 0.9rem;
    padding: 1rem 1rem;
    text-decoration: none;
}

.sublink:first-child{
    margin: 1rem 0 0 0;
}

.sublink:last-child{
    border:none;
    margin: 0 0 1rem 0;
}

.sublink:hover{
    cursor: pointer;
    background: rgba(255,255,255,0.25);
}