.container{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin: 1rem 0;
}

@media screen and (max-aspect-ratio: 13/9) {
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
  }
  