.frame{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px 0px black;
}

.image{
    position: relative;
    width: 100%;
    aspect-ratio: 4/5;
    margin: 0.5rem;
}

.name{
    background: rgba(255,255,255,0.1);
    border-radius: 25px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.name h3{
    font-variant:small-caps;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    text-align: center;
}