.link {
  width: 100%;
  background-color: #e7eff9;
  background: linear-gradient(to top, #ffefba, #ffffff);
  box-shadow: 0px 10px 20px -20px black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  transition: 0.2s;
  text-decoration: none;
  color: black;
  font-size: 0.875rem
}

@media only screen and (max-aspect-ratio: 13/9){
    .link {
        aspect-ratio: 6/1;
      }
  }

  @media only screen and (min-aspect-ratio: 13/9){
    .link {
        aspect-ratio: 5/1;
      }
  }

.link:hover {
  cursor: pointer;
  transform: translate(2px, -2px);
  box-shadow: 0px 12px 22px -18px black;
}

.document{
  position: relative;
  height: 100%;
  aspect-ratio: 3/4;
  margin: 0 1rem 0 0;
}

.pdf{
  background-image: url("/pdf.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.generic{
  background-image: url("/doc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}