.link {
  width: 100%;
  aspect-ratio: 5/1;
  background-image: linear-gradient(90deg, rgb(1, 198, 86),rgb(47, 152, 24));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0rem;
  transition: 0.2s;
  text-decoration: none;
  color: white;
  filter:drop-shadow(-1px 1px 1px black);
  font-size: 0.875rem;
}

.link:hover {
  cursor: pointer;
}

.text{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}