.link {
  width: 100%;
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
  box-shadow: 0px 0px 5px -2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  transition: 0.2s;
}

@media only screen and (max-aspect-ratio: 13/9){
  .link {
      aspect-ratio: 5/1;
    }
}

@media only screen and (min-aspect-ratio: 13/9){
  .link {
      aspect-ratio: 3/1;
    }
}

.link:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px black;
}