.nav{
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, rgba(12, 197, 73, 1) 0%, rgba(0, 128, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px 0px black;
    z-index: 100;
    height: 10vh;
}

@media only screen and (max-aspect-ratio: 13/9){
    .nav{
        display: none;
    }
}

.linkContainer{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.surLinkContainer{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.surLinkContainer:hover{
    cursor: pointer;
}

.subLinkContainer{
    position: absolute;
    top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(135deg, rgba(12, 197, 73, 1) 0%, rgba(0, 128, 0, 1) 100%);
    padding: 0 0.5rem 0 0.5rem;
    box-shadow: 0px 5px 5px 0px black;
}

.link{
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1rem 0 1rem 0;
    text-shadow: 2px 2px black;
    text-decoration: none;
}

.homeLink {
    margin: 1rem 0 1rem 0;
    background-image: url("/pch-logo.png");
    background-size: contain;
    height: 80%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
}

.sublink {
    color: white;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 0.25rem;
    text-shadow: 2px 2px black;
    border-bottom: 1px solid white;
    padding: 0.25rem;
}

.sublink:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}