.container{
    position: relative;
    width: 90%;
    max-width: 1500px;
    display: grid;
    
    grid-gap: 2rem;
    margin: 1rem 0;
}

@media only screen and (max-aspect-ratio: 13/9){
    .container{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-aspect-ratio: 13/9){
    .container{
        grid-template-columns: 1fr 3fr;
    }
}