.link {
  width: 100%;
  background-image: linear-gradient(45deg, rgb(217, 134, 15),rgb(225, 99, 66));
  filter:drop-shadow(-1px 1px 1px black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  transition: 0.2s;
  text-decoration: none;
  color: black;
}

@media only screen and (max-aspect-ratio: 13/9){
    .link {
        aspect-ratio: 6/1;
      }
  }

  @media only screen and (min-aspect-ratio: 13/9){
    .link {
        aspect-ratio: 5/1;
      }
  }

.link:hover {
  cursor: pointer;
}

.document{
  position: relative;
  height: 100%;
  aspect-ratio: 3/4;
  margin: 0 1rem 0 0;
}

.flag{
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  background-image: url("/hallau.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.title{
  position: relative;
  width: 100%;
}