.slots{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.row{
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.dateRow{
    position: relative;
    width: 100%;
    text-align: right;
}

.timeRow{
    position: relative;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.time{
    white-space: pre;
}