.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.form{
    position: relative;
    width: 100%;
}

.field{
    position: relative;
    width: 100%;
}

.row2{
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    margin: 1rem 0 1rem 0;
}

/* media targeting ref https: //stackoverflow.com/a/26932152 */

@media only screen and (min-aspect-ratio: 13/9) {
    .row2{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-aspect-ratio: 13/9) {
    .row2 {
        grid-template-columns: 1fr;
    }
}

.row1 {
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    margin: 1rem 0 1rem 0;
}

.message{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}