.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("/analysis-4402809_1920.jpg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    aspect-ratio: 1/0.5;
}

.textContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(255,255,255,1);
    padding: 2rem 0 2rem 0;
}

.textContainer p{
    position: relative;
    width: 100%;
    text-align: center;
}