@font-face {
  font-family: 'UnifrakturCook';
  src: url('/UnifrakturCook-Bold.ttf');
  font-weight: 700;
  font-style: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

section{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

h1{
  position: relative;
  width: 100%;
  font-variant: small-caps;
  text-indent: 1rem;
  border-bottom: 2px solid #0cc549;
  font-style: italic;
  word-wrap: break-word;
}

@media screen and (orientation: portrait) {
  section{
    width: 90%;
  }
  h1 {
    font-size: 7.5vw;
  }
}

@media screen and (orientation: landscape) {
  section {
      width: 90%;
    }
  h1 {
    font-size: 7.5vh;
  }
}

.chapter{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.chapter_text{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.chapter_text p{
  position: relative;
  width: 100%;
}

iframe{
  position: relative;
  width: 100%;
  border: 0;
  outline: 0;
  aspect-ratio: 21/10;
}

table{
  overflow-x:scroll;
}