@font-face {
  font-family: 'UnifrakturCook';
  src: url('/UnifrakturCook-Bold.ttf');
  font-weight: 700;
  font-style: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

section{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 0 2rem 0;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

h1{
  position: relative;
  width: 100%;
  font-variant: small-caps;
  text-indent: 1rem;
  border-bottom: 2px solid #0cc549;
  font-style: italic;
  word-wrap: break-word;
}

@media screen and (orientation: portrait) {
  section{
    width: 90%;
  }
  h1 {
    font-size: 7.5vw;
  }
}

@media screen and (orientation: landscape) {
  section {
      width: 90%;
    }
  h1 {
    font-size: 7.5vh;
  }
}

h2 {
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, rgba(12, 197, 73, 1) 0%, rgba(0, 128, 0, 1) 100%);
  color: white;
  margin: 2rem 0 2rem 0;
  box-shadow: 0px 5px 5px -5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0 0.25rem 0;
}

.link {
  width: 100%;
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
  box-shadow: 0px 0px 5px -2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  transition: 0.2s;
}

@media screen and (orientation: landscape) {
  .link {
    aspect-ratio: 2/1;
  }
}

@media screen and (orientation: portrait) {
  .link {
    aspect-ratio: 3/1;
  }
}

.link:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px black;
}