.title {
  position: relative;
  width: 100%;
  text-align: center;
  color: #0cc549;
  border-bottom: 2px solid #0cc549;
  font-variant: small-caps;
  margin: 1rem 0 2rem 0;
  text-shadow: 2px 2px 2px black;
}

.text{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  word-wrap: break-word;
  color: rgba(0,0,0,0.8);
}

@media screen and (orientation: portrait){
  .title{
      font-size: 10vw;
  }
  .text{
    font-size: 15vw;
  }
}
@media screen and (orientation: landscape) {
  .title {
    font-size: 10vh;
  }
  .text{
    font-size: 15vh;
  }
}

.linkContainer{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  grid-gap: 2rem;
}

.link{
  position: relative;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
  box-shadow: 0px 2px 5px -2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
  aspect-ratio: 1/1;
}

.link:hover{
  box-shadow: 0px 5px 5px 0px black;
}

.logo{
  position: relative;
  aspect-ratio: 1/1;
  background-image: url("/pch-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-aspect-ratio: 13/9){
  .bottom{
      display: none;
  }
  .logo{
    display: none;
  }
}
@media only screen and (min-aspect-ratio: 13/9){
  .top{
      display: none;
  }
}

.skes{
  width: 100%;
  aspect-ratio: 3/1;
  background-image: url("/skes-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 80%;
  box-shadow: 0px 0px 5px 2px black;
  margin: 2rem 0 2rem 0;
  padding: 1rem;
  transition: 20s;
  transition-timing-function: linear;
}

.skes:hover{
  background-size: 150%;
}

.skesText{
  width: 100%;
  height: 100%;
  font-size: 5vw;
  font-family: "UnifrakturCook";
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px black;
}