.container{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 2rem 0;
}

.frame{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px black;
}

.image{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0.5rem;
}

.text{
    position: relative;
    width: 100%;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.5rem;
    border-top: 1px solid grey;
    color: black;
    font-weight:lighter;
}

@media only screen and (max-aspect-ratio: 13/9){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .text{
        font-size: 0.75rem;
        hyphens: auto;
    }
  }