.nav{
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, rgba(12, 197, 73, 1) 0%, rgba(0, 128, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px 0px black;
    z-index: 100;
}

.linkContainer{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link{
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1rem 0 1rem 0;
    text-shadow: 2px 2px black;
}