.details{
    margin: 0 0 1rem 0;
}

.titleSpoiler{
    position: relative;
    width: 100%;
    background: linear-gradient(135deg, rgba(12, 197, 73, 1) 0%, rgba(0, 128, 0, 1) 100%);
    color: white;
    margin: 1rem 0 1rem 0;
    text-indent: 1rem;
    font-weight: bolder;
    font-size: 1.5rem;
}

.yearContainer{
    position: relative;
    width: 100%;
}

.container{
    position: relative;
    width: 100%;
}

.spoiler{
    position: relative;
    width: 100%;
    margin: 0 0 1rem 0;
}

.spoiler:hover{
    cursor: pointer;
}

.summary{
    text-indent: 2rem;
}

.resultContainer{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin: 1rem 0 0 0;
}

.result {
    width: 100%;
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
    box-shadow: 0px 0px 5px -2px black;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}

.text{
    position: relative;
    box-shadow: inset 0px 0px 5px -2px black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}