.introContainer {
    position: relative;
    width: 100%;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.linkContainer{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
}

.text {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.archiv {
    width: 100%;
    aspect-ratio: 3/1;
    background-image: url("/archive-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 80%;
    box-shadow: 0px 0px 5px 2px black;
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    transition: 20s;
    transition-timing-function: linear;
}

.archiv:hover {
    background-size: 150%;
}

.archivText {
    width: 100%;
    height: 100%;
    font-size: 5vw;
    font-family: "UnifrakturCook";
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px black;
}