.container{
    position: relative;
    width: 100%;
}

.linkContainer{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.link{
    width: 100%;
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
    box-shadow: 0px 0px 5px -2px black;
    aspect-ratio: 5/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}

.text{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vw;
    font-weight: bolder;
}

.imageContainer{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 2rem 0 2rem 0;
}

.image{
    position: relative;
    aspect-ratio: 4/3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px black;
}

.map{
    border: solid 1px #777;
    width: 100%;
    aspect-ratio: 3/1;
    border: 0;
}

.vorstandContainer{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.vorstand{
    width: 100%;
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
    box-shadow: 0px 0px 5px -2px black;
    aspect-ratio: 3/1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.vorstandTitle{
    position: relative;
    width: 100%;
    font-size: 1.25rem;
    font-variant: small-caps;
    text-align: center;
    font-weight: bolder;
}

.vorstandText{
    position: relative;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}